---
---

// Global
@import "settings";
@import "mixins";
@import "vendor/normalize";
@import "vendor/syntax";
@import "vendor/animate";

html {
  background: white;
  height: 100%;

  @include respond-to('handheld') {
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 0.5rem;
      background-color: $c-primary;
    }

    &.cssanimations::before {
      -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-name: fadeInDown;
              animation-name: fadeInDown;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s;
    }
  }
}

body {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  color: $c-body-copy;
  font-family: $primary-font-family;
  margin: 0 auto;
  padding: 6.25%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;

  @include respond-to('tablet-plus') {
    font-size: 1.125rem;
    background-color: white;
  }

  @include respond-to('large-plus') {
    font-size: 1.3125rem;
    padding: 6.25% 10.5% 6.25% 2%;
  }
}

::selection {
  color: black;
  background: rgba(61, 153, 112, 0.55);
  text-shadow: none;
}

a {
  &:link, &:active, &:visited {
    color: $c-primary;
  }

  &:hover {
    color: darken($c-primary, 10%);
  }
}

.main {
  margin: 0 auto;
  max-width: 38em;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUpBig;
          animation-name: fadeInUpBig;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;

  @include respond-to('large-plus') {
    max-width: 35em;
  }
}

// Modules
@import "modules/header";
@import "modules/footer";
@import "modules/article";
@import "modules/listing";
@import "modules/nav";
@import "modules/logo";
@import "modules/highlight";
@import "modules/summary";
@import "helpers";
@import "print";
