<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {% if page.title %}
      {{ page.title }} by Jeff Jewiss
    {% else %}
      Articles by Jeff Jewiss
    {% endif %}		
  </title>
  <meta name="description" content="A collection of articles on web design, programming and photography.">
  <meta name="author" content="Jeff Jewiss">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" sizes="16x16 110x110" type="image/x-icon" href="favicon.ico">
  <script src="//use.typekit.net/soj2eyu.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <link href="/style.css?v=1" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
