$primary-font-family: "ff-tisa-sans-web-pro", "ratio", Helvetica, Arial, sans-serif;

// Colours
$blue: #0074D9;
$black: #111111;
$light-grey: #CCCCCC;
$olive: #3D9970;

$c-body-copy: $black;
$c-em-copy: $light-grey;
