article {
  padding: 1.4em 0 3em 0;

  @include respond-to('handheld-plus') {
    font-size: 1.125rem;
  }

  @include respond-to('lap-plus') {
    font-size: 1.3125rem;
  }

  header {
    padding-bottom: 1em;
    text-rendering: optimizeLegibility;

    @include respond-to('handheld') {
      text-align: left;
    }

    @include respond-to('handheld-plus') {
      text-align: center;
    }

    h1, p {
      margin: 0;
    }

    h1 {
      line-height: 1.2;
      padding: 0;
    }

    p {
      padding-top: 0.5em;
      color: $c-em-copy;
      font-size: 0.875em;
      text-indent: 0.1em;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    padding-top: 1em;
    line-height: 1.4;
  }

  p {
    line-height: 1.45;
  }

  ul, ol {
    padding: 0;
  }

  li {
    padding-bottom: 0.5em;
  }

  p code {
    background-color: rgba(141,185,165,0.2);
    padding: 0.1em 0.4em;
    border-radius: 0.25em;
    word-wrap: break-word;
  }
}
