.header {
  @include respond-to('handheld') {
    padding-bottom: 2rem;
  }

  h1 {
    float: left;
    margin: 0;
    width: 50%;
    font-size: 1.2em;
    line-height: 2;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;

    @include respond-to('handheld') {
      padding-left: 1.1rem;
    }

    a {
      text-decoration: none;
      transition: all 0.25s ease-in-out;

      &:link, &:visited, &:active {
        color: $black;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

}
