.highlight {
  background-color: rgba(141,185,165,0.2);
  color: #586e75;
  margin: 0 0 1rem 0;
  padding: 1rem 1.25rem;
  border-left: 0.25rem solid rgb(190,190,190);
  border-radius: 0 0.25rem 0.25rem 0;

  pre {
    margin: 0;
  }
}
