.listing {
  padding: 1em 0;
  margin: 0;
  list-style-type: none;
}

.listing-item {
  padding-bottom: 1.75em;
}

.listing-time {
  color: $light-grey;
}

.listing-title {
  margin: 0;
}

.listing-link {
  text-decoration: none;
  border-bottom: 1px solid $light-grey;

  &:link, &:visited, &:active {
    color: $black;
  }

  &:hover {
    border-bottom-color: $c-primary;
  }
}
