.logo {
  float: left;
  width: 2.375rem;
  height: 2.375rem;
  margin: 0;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.logo-mark {
  fill: $c-primary;
}
